/*
    Theme Name:   De Finibus
    Theme URI:    https://github.com/ahyangyi-de-finibus/de-finibus-child-theme
    Description:  De Finibus Theme, based on Kahuna
    Author:       Yi Yang
    Author URI:   http://blog.ahyangyi.org
    Version:      0.7
    Template:     kahuna
 */

/*
 * Override body text color by
 *  using opacity instead.
 *
 * Also, set up proper fallbacks.
 */
body {
    color: #000000ae;
    font-family: AdagioSerif,Times New Roman,times,serif;
    font-feature-settings: "liga";
}

/*
 * Copyright fonts: do not italicize
 */
#site-copyright {
    font-style: normal;
}

/* Widgets */
.widget-title span {
    padding-bottom: .5em;
}

/* Fix the blockquote styling in Kahuna */
blockquote {
    font-family: AdagioSerif;
}
blockquote p {
    font-weight: 300;
}
.entry-content blockquote::before {
    content: 'â€';
    font-size: 6em;
    font-family: AdagioSerif;
    font-weight: 300;
    font-style: normal;
    left: 0.2em;
    top: 8%;
    color: light-dark(rgba(81,81,81,0.2), rgba(255,255,255,0.2)) !important;
}
blockquote cite {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
}

/* Custom Classes */
.trpg-rai {
    color: light-dark(#00587e, #4898c9);
    font-style: italic;
}

/* Custom Classes for Code */
pre.ascii-art > code,
pre.ascii-art {
    line-height: 1.15 !important;
}

/* Flexbox Palette
 * Used in places such as https://blog.ahyangyi.org/the-color-scheme-part-ii/ */
.de-finibus-palette {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;

    >div {
        display: inline-block;
        min-width: 5em;
        >dt {
            font-weight: 700;
            padding-left: 0.5em;
            padding-right: 0.5em;
            width: 100%;
            height: 2em;
            text-align: center;
        }
        >dd {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            margin: 0;
            width: 100%;
            height: 1em + lh;
            text-align: center;
            font-feature-settings: "liga" 0;
        }
    }
}

/* Override LaTeX2HTML */
.latex_prob,.latex_examp,.latex_excs,.latex_claim,.latex_answer,.latex_thm,.latex_lem,.latex_cor,.latex_defn,.latex_prop,.latex_rem {
    margin:10px 0;
    padding:5px;
    border: none;
    border-bottom:solid 3px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    display:block;
}

.latex_thm,.latex_lem,.latex_cor,.latex_defn,.latex_prop,.latex_rem {
    background:light-dark(#c8e6ff, #00293d);
    border-bottom-color: light-dark(#00c1f9, #009cca);
}

.latex_prob,.latex_examp,.latex_excs,.latex_claim,.latex_answer {
    background:light-dark(#dde3ea, #20272c);
    border-bottom-color: light-dark(#378aba, #277eae);
}

.bibtex_title{
    font-weight:inherit;
    font-style: italic;
    color:inherit;
}

.bibtex_h{
    font-weight: 300;
    font-variant: none;
}

/* LaTeX2HTML Legacy 
 * A copy of LaTeX2HTML css now that we no longer use the plugin */
.latex_title{
    text-align: center;
    margin-bottom: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    display: block;
}
.latex_author {
    text-align: center;
    margin-bottom: .1em;
    font-style: normal;
    font-size: 120%;
    display: block;
}
