/*
    Theme Name:   De Finibus
    Theme URI:    https://github.com/ahyangyi-de-finibus/de-finibus-child-theme
    Description:  De Finibus Theme, based on Kahuna
    Author:       Yi Yang
    Author URI:   http://blog.ahyangyi.org
    Version:      0.4
    Template:     kahuna
 */

/*
 * The title
 */
#header-image-main .entry-title {
    font-weight: 100;
    font-size: 400%;
}
@media print {
    #header-image-main .entry-title {
        color: #000000;
    }
}

/*
 * The Byline, or subtitle
 */
.byline {
    font-weight: 200 !important;
    font-style: italic;
    color: #aaaaaa !important;
}
@media print {
    .byline {
        color: #000000 !important;
    }
}

/*
 * Override body text color by
 *  using opacity instead.
 *
 * Also, set up proper fallbacks.
 */
body {
    color: #000000ae;
    font-family: AdagioSerif,Times New Roman,times,serif;
    font-feature-settings: "liga";
}

/*
 * Copyright fonts: do not italicize
 */
#site-copyright {
    font-style: normal;
}

/* Masthead backgrounds */
#masthead {
    border-bottom: 5px solid #6086a8 !important;
}
@media print {
    #masthead {
        border-bottom: 2px solid #000000 !important;
    }
}

#header-image-main-inside {
    background-color: #405360;
}

/* Widgets */
.widget-title span {
    padding-bottom: .5em;
}

/* Fix the blockquote styling in Kahuna */
blockquote {
    font-family: AdagioSerif;
}
blockquote p {
    font-weight: 300;
}
.entry-content blockquote::before {
    content: 'â€';
    font-size: 6em;
    font-family: AdagioSerif;
    font-weight: 300;
    font-style: normal;
    left: 0.2em;
    top: 8%;
    color: light-dark(rgba(81,81,81,0.2), rgba(255,255,255,0.2)) !important;
}
blockquote cite {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
}

/* Extra code settings */
pre.ascii-art > code,
pre.ascii-art {
    line-height: 1.15 !important;
}

/* Override: this would go to the prism theme instead */
:not(pre)>code[class*=language-] {
    border-color: light-dark(#eeeeee, #505050) !important;
    background-color: light-dark(#f8f8f8, #404244) !important;
}
pre {
    border-color: light-dark(#eeeeee, #505050) !important;
    background-color: light-dark(#f8f8f8, #404244) !important;
}

.token.decorator {
    text-decoration: underline;
    color: #285a84;
}

/* Flexbox Palette
 * Used in places such as https://blog.ahyangyi.org/the-color-scheme-part-ii/ */
.de-finibus-palette {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;

    >div {
        display: inline-block;
        min-width: 5em;
        >dt {
            font-weight: 700;
            padding-left: 0.5em;
            padding-right: 0.5em;
            width: 100%;
            height: 2em;
            text-align: center;
        }
        >dd {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            margin: 0;
            width: 100%;
            height: 1em + lh;
            text-align: center;
            font-feature-settings: "liga" 0;
        }
    }
}

/* Experimental: Dark Mode */

@media(prefers-color-scheme:dark) {
    body {
        color: #c0c0c0 !important;
        background-color: #20282f !important;
    }
    body:not(.kahuna-landing-page) article.hentry, body:not(.kahuna-landing-page) .main, body.kahuna-boxed-layout:not(.kahuna-landing-page) #container  {
        background-color: #202224 !important;
        color: #f0f0f0 !important;
    }
    code, #nav-below .nav-previous a:before, #nav-below .nav-next a:before {
        background-color: #404244 !important;
    }
    #masthead {
        border-bottom: 5px solid #507698 !important;
    }
    .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .lp-text-content h1, .lp-text-content h2, .lp-text-content h3, .lp-text-content h4 {
        color: #c0c0c0 !important;
    }
    .entry-meta span, .entry-meta a, .entry-utility span, .entry-utility a, .entry-meta time, #breadcrumbs-nav, #header-page-title .byline, .footermenu ul li span.sep {
        color: #a0a0a0 !important;
    }
    .entry-meta .icon-metas:before {
        color: #a0a0a0 !important;
    }

    /* Code Plugin */
    code[class*="language-"],
    pre[class*="language-"] {
        color: #ffffffd8 !important;
    }

    .token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog {
        color: #ffffff80 !important;
    }

    .token.punctuation {
        color: #ffffffc0 !important;
    }

    .token.attr-value,.token.class-name,.token.entity,.token.operator,.token.url,.token.variable,.token.builtin,.token.function {
        color: #46aadb !important;
    }

    .token.atrule,.token.keyword {
        color: #00bfff !important;
    }
}

/* Override LaTeX2HTML */
.latex_prob,.latex_examp,.latex_excs,.latex_claim,.latex_answer,.latex_thm,.latex_lem,.latex_cor,.latex_defn,.latex_prop,.latex_rem {
    margin:10px 0;
    padding:5px;
    border: none;
    border-bottom:solid 3px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    display:block;
}

.latex_thm,.latex_lem,.latex_cor,.latex_defn,.latex_prop,.latex_rem {
    background:light-dark(#e0ebf4, #00405d);
    border-bottom-color: #00c0ff;
}

.latex_prob,.latex_examp,.latex_excs,.latex_claim,.latex_answer {
    background:light-dark(#f0f0f0, #383838);
    border-bottom-color: #378aba;
}

.bibtex_title{
    font-weight:inherit;
    font-style: italic;
    color:inherit;
}

.bibtex_h{
    font-weight: 300;
    font-variant: none;
}

/* LaTeX2HTML Legacy 
 * A copy of LaTeX2HTML css now that we no longer use the plugin */
.latex_title{
    text-align: center;
    margin-bottom: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    display: block;
}
.latex_author {
    text-align: center;
    margin-bottom: .1em;
    font-style: normal;
    font-size: 120%;
    display: block;
}
